<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- list popular data science languages
- use markdown functionality to create a deck including code, comments
- list development environments
- list popular data science libraries
- how to create a table with markdown

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy

| Data Science Tools | 
| -------------| 
| Jupyter | 
| Apache Zeppelin |
| R Studio |

<h3>Below are a few examples of evaluating arithmetic expressions in Python.<h3>

In [4]:
#This operation adds two integers - 5 and result of 3 times 4
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

<h2>Author<h2>

Jaivardhan